:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;

  --sea-color: #041f48;
}

body {
  background-color: var(--sea-color);

  height: 100vh;
  display: grid;
  grid-template-rows: 15% 8% 1fr 6%;
  grid-template-columns: 1fr;
}

header {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 2vh;
}

.game-info {
  text-align: center;
  font-weight: bold;
}

.play-area {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;

  .board-container {
    width: 40vw;
    display: flex;
    flex-flow: column;
    align-items: center;

    h3 {
      padding: 15px 0px;

      text-align: center;
      font-style: italic;
      font-size: 1.2rem;
    }

    .board {
      display: grid;
      grid-template-rows: repeat(10, 3vw);
      grid-template-columns: repeat(10, 3vw);

      .cell {
        border: 1px solid white;
      }
    }

    &.own .hit {
      background-color: #ff0000cc;
    }

    &.own .has-ship::after {
      content: "⬜";

      font-size: 2vw;
      position: relative;
      left: min(1vw, 0.25ch);
      top: min(1vh, 0.25ch);
    }

    &.enemy .hit {
      background-color: #ffffffcc;

      &.has-ship::after {
        background-color: #ff0000cc;
      }
    }

    &.enemy .cell:hover {
      background-color: #ffffff55;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  img {
    content: url("../resources/GitHub-Mark-32px.png");
    filter: invert(1);
  }
}

.prompt {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #c2c2c288;

  form {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;

    border-radius: 10px;

    background-color: #ffffff;
    color: #000;
  }
}
